<div class="mt-5 mb-3 text-primary container text-center">
  <div class="mb-4"><img src="../../../assets/logo.png" alt="logo" width="10%"></div>
	<span class="h4">Reset Password</span> 
</div>

<!-- BEGIN: Subheader -->
	<div class="container max-width-30">
			<form class="form" [formGroup]="resetpassword" (ngSubmit)="ResetPassword()">
				<div class="form-group ">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" formControlName="user_email" 
          placeholder="Registered email">      
					<div class="text-danger" *ngIf="user_email.invalid && (user_email.dirty || user_email.touched)">
						<div *ngIf="user_email.errors.required">Email is required</div>
						<div *ngIf="user_email.errors.email">Email is not valid</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputtemp_password">Temporary Password</label>
					<input type="password" class="form-control" id="inputtemp_password" placeholder="Temporary password" formControlName="temp_password">
					<div class="text-danger" *ngIf="temp_password.invalid && (temp_password.dirty || temp_password.touched)">
						<div *ngIf="temp_password.errors.required">Temporary Password is required</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputnew_password">New Password</label>
					<input type="password" class="form-control" id="inputnew_password" placeholder="New Password" formControlName="new_password">
					<div class="text-danger" *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)">
						<div *ngIf="new_password.errors.required">New Password is required</div>
						<div *ngIf="new_password.errors.minlength">Password must be of atleast 8 characters or numbers</div>
					</div>
				</div>
        <div class="form-group">
          <label for="inputcon_password">Confirm Password</label>
          <input type="password" class="form-control" id="inputcon_password" placeholder="Confirm New Password" formControlName="con_password">
          <div class="text-danger" *ngIf="con_password.invalid && (con_password.dirty || con_password.touched)">
              <div *ngIf="con_password.errors.required">Confirm Password is required</div>
          </div>
        </div>
      <div class="form-group mt-2rem" *ngIf="!isvalid">
        <button [disabled]="resetpassword.invalid" type="submit" class="btn btn-primary text-white">Change Password</button>
      </div>
      <div class="form-group mt-2rem" *ngIf="isvalid" (click)="login()">
        <button type="button" class="btn btn-darkblue text-white">Login to account</button>
      </div>      
      </form>
      <div [ngStyle]="showAlertforsamepass" class="alert alert-danger text-light alert-dismissible col-12" role="alert">
			  <b>Confirm Password should be same as New Password</b>
      </div>
      <div [ngStyle]="showresponse" class="alert alert-success text-light alert-dismissible col-12" role="alert">
			  <b>{{response}}</b>
      </div>
			<!-- <div [ngStyle]="displaystyle" [ngClass]="alertclass" class="alert alert-lightblue text-light alert-dismissible col-12" role="alert">
				{{message}}
			</div>
			<div [ngStyle]="displayvalidmsg" [ngClass]="alertclass" class="alert alert-warning text-light alert-dismissible col-12" role="alert">
				<strong>!You dont have enough balance to place this order</strong>
			</div>
			<div class="m-0 p-0">
				<button type="button" class="btn btn-danger" (click)="StopBot()">Stop Bot</button>
				<div [ngStyle]="displaystopstyle"  [ngClass]="alertstopclass" class="mt-3 alert alert-lightblue text-light alert-dismissible col-12" role="alert">
					{{stopmessage}}
				</div>
			</div> -->
	</div><!--  END: Subheader -->